body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    }

    h2 {
      margin-top: 40px;
    }

    .facility-section, .places  {
      display: flex;
      justify-content:  center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .activities{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding : 2%;
    }

    .grid-container{
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas:
    "activity-card-1 activity-card-1 activity-card-2 activity-card-2 activity-card-3 activity-card-3"
    "activity-card-1 activity-card-1 activity-card-4 activity-card-4 activity-card-4 activity-card-4";
     grid-template-columns: repeat(6,21fr);
     grid-template-rows:150px 150px;
}

   .activity-card{
    background-color: lightgrey;
    font-weight: bold;
     border-radius: 8px;
    text-align: center;
   }

    .facility-card, .place-card {
      background: white;
      border-radius: 8px;
      position: center;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      width: 280px;
    }

    .facility-card img, .place-card img, .activity-card img {
      width: 100%;
      height: 160px;
      background-color: #ccc;
    }

    .facility-content {
      padding: 15px;
    }

    .facility-content h3 {
      margin: 0 0 10px;
    }

    .facility-content p {
      margin: 0 0 15px;
      color: #555;
    }

    .facility-content button {
      background: black;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
    }

    .place-card, .activity-card {
      text-align: center;
      padding: 10px;
    }

    .place-card span, .activity-card span {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      .facility-card, .place-card, .activity-card {
        width: 100%;
      }
    }