html{
    display: flex;
}
    
body{
    background-color: #eaf4fc;
    background-image: linear-gradient(white,rgb(198, 220, 240));
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: royalblue;
    opacity: 80%;
    padding: 0.5em 2.5em;
}

.heading a{
    text-decoration: none;
    color: #ffffff;
    padding-top:100px;
}


.heading div {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #ebf8ff;
    color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 14px 20px;
    margin-right:1rem;
}

.nav-links {
    display: flex;
    margin-right: 20px;
}

.nav-links a{
    text-decoration: none;
    color:#000000;
    padding: 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #e4e4e4;
    color: #8f8f8f;
}

.nav-links a.active {
    background-color: #ffffff;
}

.hamburger {
    display: none;
    flex-direction: column;
    width: 30px;
    height:25px;
    margin-right: 25px;
    cursor: pointer;
}

.hamburger span {
    display: none;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius:3px;
}


.facility-section  {
      display: flex;
      justify-content:  center;
      flex-wrap: wrap;
      gap: 15px;
      width:100%;
      max-width: fit-content;
    }

.facility-card {
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      flex: 1 1 200px;
    }

    .facility-card img, .activity-card img {
      width: 100%;
      height: 160px;
      background-color: #ccc;
    }

    .facility-content {
      padding: 15px;
    }

    .facility-content h3 {
      margin: 0 0 10px;
    }

    .facility-content p {
      margin: 0 0 15px;
      color: #555;
    }

    .facility-content button {
      background: black;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
    }

    .activities{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    
    }

    .grid-container{
    display: grid;
    /* position: relative; */
    left: auto;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas:
    "activity-card-1 activity-card-1 . ."
    "activity-card-1 activity-card-1 . .";
    grid-template-columns: 40% 20% 20%;
    grid-template-rows:150px 150px; 
    
}


   .activity-card{
    background-color: lightgrey;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
   }

   .activity-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
   }
   .activity-name{
    z-index: 2;
    position: absolute;
    top: 10%;
    color: white;
    font-size: 20px;
    padding: 10px;
   }


@media screen and (max-width: 768px){
    .navbar{
        flex-wrap: wrap;
    }
    .nav-links{
        display: none;
        flex-direction:column;
        width: 100%;
        background-color: #8f8f8f;
    }

    .nav-links.show { 
        display: flex;
        margin-left: -20px;
    }

    .hamburger{
        display: flex;
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }
}

header {
    background-image: url(/images/CFSspace-heading.jpg);
    background-color: #cccccc;
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.title {
    padding: 4em 0;
    text-align: center;
    font-size: 150%;
}

main {
    position:relative;
    padding: 1em 4em;
    color: black;
    max-width: fit-content;
    width:100%;
}

input {
    border-color: #ffa700;
    border-style: solid;
    padding: 10px 40px;
    width: 100px;
}

form button {
    padding: 10px 40px;
    background-color: rgb(109, 214, 255);
    border-style: none;
    border-radius: 5px;
}

form{
    padding:5px 3em;
    background-color: #ff8b38;
    box-shadow: gray 10px 10px 10px;
    z-index: 1;
    position: absolute;
    left: 330px;
    top: -150px;
    border-radius: 5px;
}

.areas-header {
    padding-top: 70px;  
    font-size: 30px;
}

select {
    padding: 10px 40px;
}

.areas {
    display: flex;
    
    flex-wrap: wrap;
   
    align-items: center;
}

.area {
    width: flex;
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
}
.area img{
    width: 250px;
    height: 250px;
    z-index: 1;
    border-radius: 10px;
}

.area-name{
    z-index: 2;
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.area:hover {
    transform: scale(1.35);
}

